{% extends "base.html" %}
  	{% load blog markup comments tagging_tags gravatar %}

{% block content %}

  
	{% tags_for_object object as tag_list %}
	{% get_comment_count for object as comment_count %}
	<div class="entries">
	    <h2><a href="{{ object.get_absolute_url }}"><span class="blue">{{ object.title }}</span></a></h2>
	    <h4>
	    	Posted by <a href="http://flakeware.com">{{object.author.first_name}} {{object.author.last_name}}</a> 
			| 
			{{object.publish|date:"F d, Y P"}} 
			| 
			Tagged under   
				{% if tag_list %}
					{% for tag in tag_list %}
					<a href="/blog/tag/{{tag}}">{{ tag }}</a>
					{% endfor %}
					</p>
				{% endif %} 
			| 
			{{comment_count}} comment(s)
		</h4>	
	  	<div class="body">
	    	{{ object.body|safe }}
	  	</div>
    </div>
	

	<ul id="articles">
		{% if object.get_previous_by_publish %}
		<li>
			<a class="previous" href="{{ object.get_previous_post.get_absolute_url }}" title="Read previous post">Previous Post</a>
			<p>
			<a title="Read previous post" href="{{ object.get_previous_post.get_absolute_url }}">{{ object.get_previous_post }}</a>
			</p>
		</li>
		{% endif %}
		{% if object.get_next_by_publish %}
		<li class='last'>
			<a class="next" href="{{ object.get_next_post.get_absolute_url }}" title="Read next post">Next Post</a>
			<p>
			<a title="Read next post" href="{{ object.get_next_post.get_absolute_url }}">{{ object.get_next_post }}</a> 
			</p>
		</li>
		{% endif %}
	</ul>




  
  	{% get_comment_list for object as comment_list %}
  	{% if comment_list %}
  	<div id="comments">
    	<h3 class="comments_title">Comments</h3>
    	{% for comment in comment_list %}
      		{% if comment.is_public %}
      		<div class="comment {% cycle 'odd' 'even' %}">
        		<h5 class="name">
          		<img src="{% gravatar_for_email comment.user_email 32 %}" alt="" /><a name="c{{ comment.id }}" href="{{ comment.get_absolute_url }}" title="Permalink to {{ comment.person_name }}'s comment" class="count">{{ forloop.counter }}</a> 
          		{% if comment.user_url %}<a href="{{ comment.user_url }}">{{ comment.user_name }}</a>{% else %}{{ comment.user_name }}{% endif %} says...
        		</h5>
        		<h6>Posted at {{ comment.submit_date|date:"F d, Y P" }}</h6>
        		{{ comment.comment|urlizetrunc:"60"|safe }}
     		</div>
      		{% endif %}
    	{% endfor %}
  	</div>
  	{% endif %}


  	{% if object.allow_comments %}
    {% get_comment_form for object as comment_form %}

  	<div id="comments">
    	<h3 class="comments_title">Leave Your Comment</h3>
		<form action="{% comment_form_target %}" method="POST" id='commentform'>
  		{% for field in comment_form %}
	    {% if field.is_hidden %}
	      	{{ field }}
	    {% else %}
	      	<p
		        {% if field.errors %} class="error"{% endif %}
		        {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
		        {% if field.errors %}{{ field.errors }}{% endif %}
		        {{ field }} {% ifnotequal field.name "comment" %} {{ field.label_tag }} {% endifnotequal %} 
	      	</p>
	    {% endif %}
  		{% endfor %}
	  		<p class="submit">
	    		<input type="submit" name="submit" class="submit-post" value="Submit" />
	  		</p>
		</form>
	</div>
  	{% else %}
	<div id="comment_form">
  		<h3>Comments are closed.</h3>
    	<p>Comments have been close for this post.</p>
    </div>
  	{% endif %}


{% endblock %}
