{% extends "base.html" %}

{% block title %}Project archive{% endblock %}
{% block body_class %}{{ block.super }} post_list{% endblock %}


{% block content_title %}
	{% if content_title %}
  	<h2>{{content_title|safe}}</h2>
	{% endif %}
{% endblock %}

{% load tagging_tags %}
{% load thumbnail %}

{% block content %}
	{% for project in object_list %}    
	{% tags_for_object project as tag_list %}
	<div class="entries">
	    <h2><a href="{{ project.get_absolute_url }}"><span class="blue">{{ project.title }}</span></a>{{title}}</h2>
	    <h4>
	    	Posted by <a href="http://flakeware.com">{{project.author.first_name}} {{project.author.last_name}}</a> 
			| 
			{{project.publish|date:"F d, Y P"}} 
			| 
			Tagged under   
				{% if tag_list %}
					{% for tag in tag_list %}
					<a href="{% url project_tag_detail tag|slugify %}">{{ tag }}</a>
					{% endfor %}
				{% endif %} 
		</h4>	
        <img src="{% thumbnail project.image 125x125 %}" alt="{{project.title}}" />
		{{project.tease|safe}}
	    <p class="more"><a href="{{ project.get_absolute_url }}">Read more</a></p>
    </div>
	{% endfor %}

  
  {% if is_paginated %}
  <p class="pagination">
    {% if has_next %}
    <a class="older" href="?page={{ next }}">Older Projects</a>
    {% endif %}
    {% if has_next and has_previous %} | {% endif %}
    {% if has_previous %}
    <a class="newer" href="?page={{ previous }}">Newer Projects</a>
    {% endif %}
  </p>
  {% endif %}
{% endblock %}